{% extends 'base.html' %}

{% block content %}
<div class="heading">Lecturers</div>
<form method="post" action="#">
    {% csrf_token %}
    {% for lecturer in lecturer_set %}
        <div class="card">
            <div class="tick">
                <input type="checkbox" value="clicked" name="c{{lecturer.name}}">
            </div>
            <div class="details">
                <ul>Name: {{lecturer.name}}</ul>
                <ul>Max teaching load: {{lecturer.max_teaching_load}}</ul>
                <ul>Expertise: [
                    {% for course in lecturer.expertise.all %}
                    {{course.name}},
                    {% endfor %}
                    ]
                    <input type="text" name="course" placeholder="Course">
                    <button class="additem" type="submit" name="newCourse" value = {{lecturer.name}} >Add Course</button>
                </ul>
            </div>
        </div>
    {% endfor %}
    <div class="input">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="max_teaching_load" placeholder="Max Teaching Load">
        <button class="additem" type="submit" name="newItem" value="newItem">ADD</button>
    </div>
    <div class="delete">
        <button class="delitem" type="submit" name="delete" value="delete">DELETE</button>
    </div>

</form>
{% endblock %}