<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello World this is timetable</h1>
<h2>Time Table for semester 1</h2>
<ul>
    {% for i in S1 %}
    <li>{{ i }}</li>
    {% endfor %}
</ul>
<br><br><br>

<h2>Time Table for semester 2</h2>
<ul>
    {% for i in S2 %}
    <li>{{ i }}</li>
    {% endfor %}
</ul>
<br><br><br>

<h2>Time Table for semester 3</h2>
<ul>
    {% for i in S3 %}
    <li>{{ i }}</li>
    {% endfor %}
</ul>
<br><br><br>

<h2>Time Table for semester 4</h2>
<ul>
    {% for i in S4 %}
    <li>{{ i }}</li>
    {% endfor %}
</ul>
<br><br><br>

<h2>Time Table for semester 5</h2>
<ul>
    {% for i in S5 %}
    <li>{{ i }}</li>
    {% endfor %}
</ul>
<br><br><br>

<h2>Time Table for semester 6</h2>
<ul>
    {% for i in S6 %}
    <li>{{ i }}</li>
    {% endfor %}
</ul>
<br><br><br>

<h2>Time Table for semester 7</h2>
<ul>
    {% for i in S7 %}
    <li>{{ i }}</li>
    {% endfor %}
</ul>
<br><br><br>

<h2>Time Table for semester 8</h2>
<ul>
    {% for i in S8 %}
    <li>{{ i }}</li>
    {% endfor %}
</ul>
<br><br><br>


</body>
</html>